html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
      #author{
                            font-family: sans-serif;
              font-size: 20px;
              margin-left: 290px
          }
          .quote{
              font-family: sans-serif;
/*              margin-top:;*/
font-size: 25px;
    margin-left: 20px;
                             margin-top:-32px;

          }
           .quote1{
/*              font-family: monospace;*/
                             font-family: sans-serif;

/*              margin-top:;*/
font-size: 25px;
                             margin-top:-12px;

    margin-left: 50px;

          }
          .loadingclass{
              background-color: #F1F2F3;
              width: auto;
              height: auto;
              
          }
          .loading{
            
              border-radius: 10px;
                  width: auto;
              height: auto;;
                    align-self: center;
                            margin-top: 180px;
margin-left: 140px;
              width: 200px;
              height: 200px;
          }
